
@{
    ViewBag.Title = "DetallesCita";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <table class="mb-0 table table-dark" style="font-size:20px;">
        <thead>
            <tr>
                <th>Nombre completo del paciente</th>
                <th>Fecha de la cita</th>
                <th>Hora de la cita</th>
                <th>Observación de la  cita</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Erick Mitchell Echeverría Celaya</td>
                <td>30/04/2020</td>
                <td>15:30</td>
                <td>Dolor de estomago</td>
            </tr>
        </tbody>
    </table>
<br /><br />
    <button class="mb-2 mr-2 btn-transition btn btn-outline-success" style="font-size:25px;">
        Generar Cita
    </button>

